<%= render 'user_info'%>
<div class="card_container">
  <% @review_list.each do |post|%>
    <div class="mx-auto mt-3 mb-3" style="border: 1px solid #dadce0; border-bottom: none; border-radius: 0.3rem;">
      <%= link_to post do%>
        <div style="height: 5px; background-color: #87D37C; border-radius: 0.3rem 0.3rem 0 0;"></div>
        <div class="row py-3 px-3">
          <%= image_tag post.image.url, class:"col-5", style:"height:200px; object-fit: cover;"%>
          <div class="col-6 text-dark ml-3">
            <div style="display: inline; border:1px solid; padding: 0.2rem;"><%=post.genre%></div>
            <h4 class="my-2"><%= post.name%></h4>
            <div class="mb-2"><span id="star-rate<%= post.id%>" class="mr-2"></span><span class="align-middle" style="font-size: 1.3rem;"><%= post.rate%></span></div>
            <div class="post_index_icon">
              <span class="mr-2"><i class="fas fa-shopping-cart mr-2"></i><%=post.shoppings.count%>件</span>
              <span class="ml-2"><i class="fas fa-comments mr-2"></i><%=post.reviews.count%>件</span>
            </div>
            <div class="mt-3" style="opacity: 0.5;">
              <%if post.user.name?%>
                投稿者: <%= post.user.name%>さん
              <%else%>
                投稿者: 名無しさん
              <%end%>
            </div>
          </div>
        </div>
        <div style="height: 5px; background-color: #87D37C; border-radius: 0 0 0.3rem 0.3rem;"></div>
      <%end%>
    </div>

    <!-- 評価javascript -->
    <script>
    $('#star-rate<%= post.id %>').empty();
    $('#star-rate<%= post.id%>').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf:  '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly: true,
      score: <%= post.rate %>,
    });
    </script>
  <%end%>
</div>


