<div class="user_container">

  <h2><%= t('.sign_in') %></h2>

  <div class="user_card">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div class="field">
      <br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control", placeholder:"メールアドレス"%>
    </div>

    <div class="field">
      <br />
      <%= f.password_field :password, autocomplete: "current-password" , class:"form-control", placeholder:"パスワード"%>
    </div>

    <br />

    <% if devise_mapping.rememberable? %>
      <div class="field" style="text-align:left">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>

    <% end %>

    <br />
    
    <div class="actions">
      <%= f.submit t('.sign_in') , class:"btn btn-block", style:"background-color:#90EE90; color:white"%>
    </div>

  <% end %>


  <hr />

  <%= render "devise/shared/links" %>

  </div>
  
</div>
