<!DOCTYPE html>
<html>
  <head>
    <title>HundredApp2</title>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>
  
  <header>
    <%= render 'layouts/header'%>
  </header>
  <%= render 'layouts/flash'%>
  <div class="container">
    <%= yield %> 
  </div>  
  <footer class="fixed-bottom"  style="height: 2rem;">
    <nav class="navbar navbar-dark bg-color py-0">
      <span class="navbar-brand footer">Copyright  kazuki asano, 2021 All Rights Reserved.</span>
    </nav>
  </footer>
  </body>
</html>
